$primary-color: rgb(242, 156, 119)

.preloader
	position: fixed
	left: 0
	top: 0
	width: 100%
	height: 100%
	background: black
	z-index: 4
	transition: 1s all
	opacity: 0.9
	visibility: visible
	&.done
		opacity: 0
		visibility: hidden
.loader
	position: absolute
	width: 150px
	height: 150px
	background: url(../img/logo/11.png) no-repeat center
	background-size: cover
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)
	animation: 2s spin infinite linear

@keyframes spin 
	from 
		transform: translate(-50%, -50%) rotate(0deg)
	to 
		transform: translate(-50%, -50%) rotate(360deg)

.button
	display: block
	width: 100px
	height: 50px
	border: 1px solid black
	text-decoration: none
	padding: 15px
	text-align: center
	color: black
	background: $primary-color
	
    
.logo
	background: url(../img/logo/glebkiselev-logo.png) no-repeat center
	background-size: contain

@media only screen and (max-width: 720px)
	.logo
		background: url(../img/logo/glebkiselev-logo-white.png) no-repeat center
			size: contain
        
    


    
            
            

