.contact
	height: 50vh
	max-height: 540px
	width: 100%
	padding-top: 15vh
	&__wrap
		display: flex
		width: 900px
		flex-wrap: wrap
		margin: auto
		margin-bottom: 20px
		justify-content: space-around
	&__title
		flex-basis: 100%
		text-align: center
		font-family: sans-serif
		font-size: 200%
	&__list
		list-style: none
		display: flex
		flex-wrap: wrap
		width: 100%
		padding: 0
		margin: 0
	&__item
		margin: 10px
		width: 160px
        
	&__link
		text-decoration: none
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
		&:hover .logo-vk:after
			transform: translate(-50%,-50%) scale(1)
		&:hover .fa-vk
			color: white
		&:hover .logo-telegram:after
			transform: translate(-50%,-50%) scale(1)
		&:hover .fa-telegram-plane
			color: white 
		&:hover .logo-inst:after
			transform: translate(-50%,-50%) scale(1)
		&:hover .fa-instagram
			color: white
		&:hover .logo-git:after
			transform: translate(-50%,-50%) scale(1)
		&:hover .fa-gitlab
			color: white
		&:hover .logo-email:after
			transform: translate(-50%,-50%) scale(1)
		&:hover .fa-address-book
			color: white         
	&__logo
		position: relative
		margin-bottom: 15px
            
	&__nic, &__name     
		color: black
		font-family: sans-serif
		font-size: 90%
	&__name
		font-size: 70%

.logo
	&-vk
		position: relative  
		&:after
			content: ''
			position: absolute
			border-radius: 50%
			top: 50%
			left: 50%
			width: 80px
			height: 80px
			background: #597da3
			transition: all .1s ease
			transform: translate(-50%,-50%) scale(0)
			z-index: -1  
	&-telegram
		position: relative  
		&:after
			content: ''
			position: absolute
			border-radius: 50%
			top: 50%
			left: 50%
			width: 80px
			height: 80px
			background: #0088cc
			transition: all .1s ease
			transform: translate(-50%,-50%) scale(0)
			z-index: -1
	&-inst
		position: relative  
		&:after
			content: ''
			position: absolute
			border-radius: 50%
			top: 50%
			left: 50%
			width: 80px
			height: 80px
			background: #833AB4
			transition: all .1s ease
			transform: translate(-50%,-50%) scale(0)
			z-index: -1    
	&-git
		position: relative  
		&:after
			content: ''
			position: absolute
			border-radius: 50%
			top: 50%
			left: 50%
			width: 80px
			height: 80px
			background: #fc6d26
			transition: all .1s ease
			transform: translate(-50%,-50%) scale(0)
			z-index: -1 
	&-email
		position: relative  
		&:after
			content: ''
			position: absolute
			border-radius: 50%
			top: 50%
			left: 50%
			width: 80px
			height: 80px
			background: black
			transition: all .1s ease
			transform: translate(-50%,-50%) scale(0)
			z-index: -1 
    
.fab, .fas
	font-size: 50px
.fa
	&-vk
		color: #597da3
	&-telegram-plane
		color: #0088cc
	&-instagram
		color: #833AB4
	&-gitlab
		color: #fc6d26
	&-address-book
		color: black   

@media only screen and (max-width: 1020px)
	.contact
		padding-top: 5vh
		&__wrap
			width: 100%
		&__list
			justify-content: center
		&__item
			flex-basis: 30%

@media only screen and (max-width: 620px)
	.contact
		height: 100%
		&__wrap
			justify-content: center
			width: 70%
		&__item
			flex-basis: 40%
			width: 100px
			margin: 15px
@media only screen and (max-width: 444px)	
	.contact
		max-height: 800px

