.footer
  margin-top: 50px
  width: 100%
  height: 120px
  background-color: $primary-color
  &__wrap
    width: 100px
    margin: auto
    display: flex 
    justify-content: center
    align-content: center
    flex-wrap: wrap
    flex-direction: column
  &__logo
    width: 50px
    height: 50px
    margin: 10px auto
    transition: 0.4s
  &:hover .footer__logo
    transform: rotateZ(180deg)
  &__description
    text-align: center
