.hero
  width: 100%
  height: 100vh
  max-height: 1080px
  background: url(../img/hero/hero_1.jpg) no-repeat center
  background-size: cover
  background-attachment: fixed
  position: relative
  z-index: 3
  &:after
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    opacity: 0.4
    background-color: black
    z-index: -2
  &__logo
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 400px
    height: 100px

@media only screen and (max-width: 720px)
  .hero
    background-position: top right

@media only screen and (max-width: 420px)
  .hero__logo
    width: 90%