.navbar
	width: 900px
	margin: auto
	&__button
		display: none
		background-color: $primary-color
		width: 50px
		height: 50px
		border-radius: 50%
		top: 10px
		right: 10px
		opacity: 0.9
		z-index: 4       
		&-span, &-span:before, &-span:after
			position: absolute
			top: 50%
			margin-top: -2px
			left: 50%
			margin-left: -15px
			width: 30px
			height: 4px
			background-color: #222
			transition: 0.2s
			display: block			
		&-span:before
			content: ''
			transform: translateY(-7px)
		&-span:after 
			content: ''
			transform: translateY(7px)
		&_active
			.navbar__button-span
				height: 0
				&:before
					transform: rotate(45deg)
				&:after
					transform: rotate(-45deg)
.menu
	padding: 0
	padding-top: 40px
	margin: 0
	list-style: none
	display: flex
	justify-content: space-around
	&__link
		text-decoration: none
		color: white
		font-size: 25px
		font-family: sans-serif
		&:hover
			text-decoration: underline
	&-mobile 
		display: flex
		position: fixed
		width: 100%
		top: -200px
		right: 0px
		margin: 0
		padding-left: 0
		padding-top: 10px
		list-style: none
		flex-direction: column
		text-align: center
		background: $primary-color
		z-index: 4
		opacity: 0.9
		&__item
			margin-bottom: 10px
		&__link
			text-decoration: none
			color: black
			font-size: 25px
			font-family: sans-serif
			display: block
			width: 80%
			margin: auto
			&:hover
				color: white
		&_active
			display: block
			top: 0px

@media only screen and (max-width: 1020px)
	.navbar
		width: 100%

@media only screen and (max-width: 720px)
	.menu
		display: none

	.navbar__button
		display: block
		position: fixed
		z-index: 5
		&:hover
			cursor: pointer
