.portfolio
  width: 100%
  max-height: 1080px
  &__title
    font-size: 200%
    text-align: center
  &__wrap
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    max-width: 1000px
    margin: auto
  &__item
    width: 30%
    display: flex
    margin: 15px
  &__link
    text-decoration: none
    color: black
    position: relative
    display: block
    &:hover .portfolio__image img 
      box-shadow: 0px 1px 7px 2px rgba(0,0,0,0.75)
  &__image img
    width: 100%
    height: auto
    box-shadow: 0px 1px 5px -1px rgba(0,0,0,0.75)
    transition: 0.2s
  &__description
    margin-top: 5px
    text-align: center

@media only screen and (max-width: 1020px)
  .portfolio
    max-height: 1600px
    &__wrap
      justify-content: space-around
    &__item
      width: 45%

@media only screen and (max-width: 620px)
  .portfolio
    max-height: 2600px
    &__wrap
      justify-content: center
    &__item
      width: 96%